<div class="page-header">
	<h1>
		Portal
	</h1>

</div>

<div class="row">
  	<div class="col-xs-6 col-md-3">
    	<a href="#" ng-click="pentaho.getPentahoRes('ctoolsDash')" class="thumbnail">
      		<img src="" alt="CTools Dashboard">
    	</a>
    </div>
  	<div class="col-xs-6 col-md-3">
    	<a href="#" ng-click="pentaho.getPentahoRes('cdfDash')" class="thumbnail">
      		<img src="" alt="CDF Dashboard">
    	</a>
    </div>
  	<div class="col-xs-6 col-md-3">
    	<a href="#" ng-click="pentaho.getPentahoRes('xActionGetEnv')" class="thumbnail">
      		<img src="" alt="xAction PDI Env.">
    	</a>
    </div>
  	<div class="col-xs-6 col-md-3">
    	<a href="#" ng-click="pentaho.getPentahoRes('PrdTopCustomers')" class="thumbnail">
      		<img src="" alt="PRD Top Customers">
    	</a>
    </div>
</div>